*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'League Spartan', sans-serif;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

/* Intro section */

/* Rating section */

.rating__element {
  display: flex;
  flex-direction: column;
}

/* Review section */

.reviews__media {
  display: flex;
  /* flex-direction: column; */
}

.media__image {
  width: 2.5rem;
  height: 2.5rem;
}

.reviews__media-text-wrapper {
  display: flex;
  flex-direction: column;
}
